@import url('https://fonts.cdnfonts.com/css/chronicle-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0B1D26;
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 0 auto;
    min-height: 1200px;
    overflow: hidden;
    position: relative;
}

.layers-second::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 800px;
    background-image: url(../img/bgd/BG\ Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.layers-first {
    background-image: url(../img/bgd/HG.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    will-change: transform;
}

.layers-second {
    background-image: url(../img/bgd/MG.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    will-change: transform;
}

.layers-third {
    background-image: url(../img/bgd/VG.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    will-change: transform;
    z-index: 2;
}

.header-box {
    position: relative;
    z-index: 5;
    max-width: 1760px;
    padding: 64px 80px 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-image: url(../img/header/Logo.svg);
    width: 108px;
    height: 24px;
    cursor: pointer;
}


.menu {
    width: 350px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    cursor: pointer;
}

.menu-item:hover {
    color: #fbd784;
}

.account {
    text-decoration: none;
    display: flex;
}

.account-text {
    color: white;
    margin-left: 8px;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    cursor: pointer;
}

.account-text:hover {
    color: #fbd784;
}

.item {
    max-width: 1760px;
    margin: 64px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 1), 0);
}

.header-title {
    width: 770px;
}

.up {
    display: flex;
    width: 316px;
    color: #FBD784;
    align-items: center;
    justify-content: space-between;
}

.line {
    border-bottom: 2px solid #FBD784;
    width: 72px;
}

.caption-up {
    text-transform: uppercase;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 6px;
}

.title {
    font-family: 'Chronicle Display', sans-serif;
    font-size: 75px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 25px auto;
}

.down {
    display: flex;
    justify-content: space-between;
    width: 126px;
}

.caption-down {
    color: #FFF;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: #fbd784;
}

.main-header::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 500px;
    background-image: url(../img/BG\ Content.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -100px;
}

main {
    max-width: 1462px;
    width: 90%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrapper {
    width: 670px;
    padding-left: 150px;
}

.numeral {
    font-family: system-ui;
    font-size: 240px;
    font-weight: 700;
    line-height: 240px;
    color: rgb(255 255 255 / 10%);
    position: absolute;
    top: 0;
    left: -10px;
}

.lead {
    display: flex;
    color: #FBD784;
    align-items: center;
    justify-content: flex-start;
}

.caption {
    text-transform: uppercase;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 6px;
    margin-left: 24px;
}

.title-content {
    font-family: 'Chronicle Display', sans-serif;
    font-size: 68px;
    font-weight: 300;
    line-height: 77px;
    letter-spacing: 0em;
    color: white;
    margin: 27px auto;
}

.subtitle {
    font-family: system-ui;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: white;
    margin-top: 25px;
}

.more {
    width: 127px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.more-text {
    color: #FBD784;
    font-family: system-ui;
    font-size: 18px;
    font-weight: 600;
}

.img {
    max-width: 566px;
}

.content-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.numeral-reverse {
    font-family: system-ui;
    font-size: 240px;
    font-weight: 700;
    line-height: 240px;
    color: rgb(255 255 255 / 10%);
    position: absolute;
    top: 0;
    left: 660px;
}

.wrapper-reverse {
    padding-left: 265px;
}

footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 200px auto;
    max-width: 1462px;
}

.footer {
    padding-top: 25px;
    max-width: 347px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conclusion {
    font-family: system-ui;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 566px;
}

.list-footer {
    font-family: system-ui;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #FBD784;
    margin-bottom: 20px;
}

.list {
    font-family: system-ui;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    list-style: none;
    margin-bottom: 15px;
}

ul {
    padding: 0;
}

li:hover {
    color: #FBD784;
}